
<h1>Dashboard</h1>

<% if @undeposited_cheques.exists? %>
  <h2>Y a des chèques à déposer</h2>
  <p>
    Vous avez <strong><%= @undeposited_cheques.count %></strong> chèques à déposer.
    <br>
    C'est fait? 😁, cliquez ici pour nous l'indiquer:
    <%= link_to "J'ai déposé mes chèques", deposit_cheques_path, method: :post %>
  </p>


<% end %>


<style>
  .period {
    position: relative;
    padding: 20px;
    border: 1px solid grey;
  }

  .period--disable {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ffffff88;
    font-weight: bolder;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }

  .period--disable:hover {
    background: #ffffffdd;
  }

  .period .period--disable--message {
    display: none;
    padding: 20px;
  }

  .period:hover .period--disable--message {
    display: flex;
  }
</style>


<% if @current_period %>
    <div class="period">
      <% if current_user.subscriptions.on_other_period(@current_period).without_payment.exists? %> <!-- TODO -->
        <div class="period--disable">
            <div class="period--disable--message">
              Vous ne pouvez pas rentrer dans cette saison tant que votre panier est en cours dans une autre
            </div>
        </div>
      <% end %>
      <h2>Saison en cours</h2>
      <p>Du <%= l @current_period.start_on, format: :long %> au <%= l @current_period.finish_on, format: :long %></p>
    <%= link_to period_path(@current_period) do %>
      <p>Cliquer ici pour voir les formules de proposées</p>
    </div>
  <% end %>

<% else %>
  Pas de saison en cours
<% end %>

<% if @next_period %>
  <div class="period">
    <% if current_user.subscriptions.on_other_period(@next_period).without_payment.exists? %> <!-- TODO -->
      <div class="period--disable">
          <div class="period--disable--message">
            Vous ne pouvez pas rentrer dans cette saison tant que votre panier est en cours dans une autre
          </div>
      </div>
    <% end %>
    <h2>Prochaine Saison</h2>
    <p>Du <%= l @next_period.start_on, format: :long %> au <%= l @next_period.finish_on, format: :long %></p>

    <% if @next_period.formulas.exists? %>
      <%= link_to period_path(@next_period) do %>
        <p>Cliquer ici pour voir les formules de proposées</p>
      <% end %>
    <% else %>
      Aucune formule encore proposée par les producteurs
    <% end %>
  </div>
<% else %>
  La prochaine saison n'est pas encore ouverte
<% end %>




