<h1>Producer::Formulas#index</h1>
<p>Find me in app/views/producer/formulas/index.html.erb</p>

<ul>

  <% @formulas.each do |formula| %>
    <li>
      <%= link_to producer_formula_path(formula) do %>
        <ul>
          <li><%= t "formula_categories.#{formula.category}" %></li>
          <li><%= formula.name %></li>
          <li><%= formula.description %></li>
          <li><%= humanized_money_with_symbol formula.price %></li>
          <li> Nombre d'abonnements: <%= formula.subscriptions.count %></li>
          <li> Nombre de paniers par semaine: <%= formula.subscriptions.sum(:quantity) %></li>
          <li> CA: <%= humanized_money_with_symbol formula.subscriptions.all.map(&:total_price).reduce(:+) %></li>
        </ul>
      <% end %>
    </li>
  <% end %>

</ul>


<% text_link = @formulas.exists? ? 'Ajouter une nouvelle formule' : 'Ajouter votre première formule' %>

<%= link_to text_link, new_producer_period_formula_path(@period) %>
