<h1>Mon panier</h1>


<% multiple_subscription = @subscriptions.where('quantity > 1').exists? %>


<table style="width:100%" border="1">
  <tr>
    <th>Item</th>
    <th>Prix du panier</th>
    <th>Nombre de paniers</th>
    <th>Total</th>
    <% if multiple_subscription %>
      <th>Nombre de panier par jour de livraison</th>
      <th>Total globale</th>
    <% end %>
  </tr>

  <% @subscriptions.where(subscribable_type: 'Formula').each do |subscription| %>
    <% subscribable = subscription.subscribable %>
    <tr>
      <td>
        <%= subscribable.name %> (<%= subscribable.producer.full_name %>)
      </td>
      <td><%= subscribable.price %></td>
      <td><%= subscribable.delivery_days.in_future.count %></td>
      <td><%= humanized_money_with_symbol subscription.price %></td>
      <% if multiple_subscription %>
        <td><%= subscription.quantity %></td>
        <td><%= humanized_money_with_symbol subscription.total_price %></td>
      <% end %>
    </tr>
  <% end %>



</table>

<br>

<table style="width:100%" border="1">


  <% @subscriptions.where(subscribable_type: 'Period').each do |subscription| %>

    <% subscribable = subscription.subscribable %>
    <tr>
      <td>
        Adhésion de la période du <strong><%= l subscribable.start_on %></strong>  au <strong> <%= l subscribable.finish_on %></strong>
      </td>
      <td><%= humanized_money_with_symbol subscribable.price %></td>
    </tr>

  <% end %>

</table>

<h3>Prix total: <%= humanized_money_with_symbol @subscriptions.sum(&:total_price) %></h3>


<p>Vous préférez:</p>

<ul>
  <li><%= link_to "Payer mensuellement",cart_payments_path(frequency: :monthly)  %></li>
  <li><%= link_to "Payer annuellement",cart_payments_path(frequency: :annually)  %></li>
</ul>
