<% if params[:frequency] == 'monthly' %>
  <%= link_to "passer en annuel", url_for(frequency: :annually) %>
<% elsif params[:frequency] == 'annually' %>
  <%= link_to "passer en mensuel", url_for(frequency: :monthly) %>
<% end %>



<% if @period.subscriptions.find_by(user: current_user, payment: nil) %>
  <p>
            Adhésion de la période du <strong><%= l @period.start_on %></strong>  au <strong> <%= l @period.finish_on %></strong>: <%= humanized_money_with_symbol @period.price %>

  </p>
<% end %>



<% if params[:frequency] == 'monthly' %>
  <% text = @round ? 'Garder les sommes avec centimes' : 'Simplifier les sommes' %>
  <%= link_to text, url_for(round: !@round, frequency: :monthly) %>

  <table border="1">
    <tr>
      <th>Producteur</th>
      <th>Mois (date thérorique d'encaissement)</th>
      <th>Prix</th>
    </tr>

    <% @subscriptions_grouped.each do |producer, payments_by_frequence| %>
      <% payments = payments_by_frequence[:monthly] %>
      <% payments.each_with_index do |payment, i| %>
      <% money = Money.from_amount(payment[:sum].fdiv(100)) %>

      <tr>
        <% if i.zero?  %>
          <th rowspan="<%= payments.size %>"><%= producer.full_name %></th>
        <% end %>
        <td><%= payment[:date] %></td>
        <td><%= humanized_money_with_symbol money %></td>
      </tr>
     <% end %>
   <% end %>

   <tr>
  </table>

<% elsif params[:frequency] == 'annually' %>
  <table border="1">
    <tr>
      <th>Producteur</th>
      <th>Prix</th>
    </tr>
    <% @subscriptions_grouped.each do |producer, payments_by_frequence| %>
      <% money = Money.from_amount(payments_by_frequence[:annually].fdiv(100)) %>
      <tr>
        <td><%= producer.full_name %></td>
        <td><%= humanized_money_with_symbol money %></td>
      </tr>
    <% end %>

  </table>
<% end %>


<% if policy(Payment).create? %>
  <p>
    En cliquant sur le bouton, vous vous engagez à amener les chèques à l'amap:
    <%= link_to "Confirmer ces échéances", payments_path(round: params[:round], frequency: params[:frequency]), method: :post %>
    <br>
    <em>Vous retrouverez sur la page suivante, tous les montants et bénéficiaires pour vous aider à compléter vos chèques</em>
  </p>
<% end %>


