<!DOCTYPE html>
<html>
  <head>
    <title>MonAmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' if current_user || current_producer %>

    <% if notice %>
      <p class="notice bg-green-200 text-green-800 p-2 text-center font-bold border-b border-green-600"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="notice bg-alert-200 text-alert-800 p-2 text-center font-bold border-b border-alert-600"><%= alert %></p>
    <% end %>

    <div class="container py-4">
      <%= yield %>
    </div>
  </body>
</html>
