<!DOCTYPE html>
<html>
  <head>
    <title>MonAmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <fieldset data-controller="navbar" class="border-gray-200 border-2">
      <legend>Navbar</legend>
      <% if user_signed_in? %>
        <p>Connecté en tant que : <%= current_user.email %> (id: <%= current_user.id %>) </p>
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
        <% if Amap.current %>
          <ul>
            <% if policy(Period).manage? %>
              <li><%= link_to "Gérer les saisons",  periods_path %></li>
            <% end %>
            <li><%= link_to "dashboard",  user_root_path %></li>
            <li data-navbar-target="cart">
              <%= render 'shared/navbar_cart', number: current_user.subscriptions.without_payment.sum(:quantity) %>
            </li>
            <li><%= link_to "Chèques", cheques_path %></li>
          </ul>
        <% end %>
      <% end %>
      <% if producer_signed_in? %>
        <p>Connecté en tant que : <%= current_producer.email %></p>
        <%= link_to "Déconnexion", destroy_producer_session_path, method: :delete %>

        <% if policy(Amap).producer_management? %>
          <%= link_to "dashboard", producer_root_path %>
        <% end %>
      <% end %>
    </fieldset>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
